#employeePic {
	float: left;
	padding-right: 10px;
	padding-bottom: 16px;
}

#employeeDetails p {
	margin-top: 0px;
	margin-bottom: 8px;
}

#actionList {
	clear: both;
}
#debugDiv{
	display: none;
	width: 100%;
	position: relative;
	z-index: 1001;
	background: rgba(255,255,255,0.8);
}